<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>查看活动</title>
    <style>
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 200px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }

        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }

        .box-card2 {
            width: 50%;
            height: 500px;
            margin-top: 10px;
        }

        .btn {
            float: right;
            margin-right: 5px;
        }
    </style>
</head>
<body style="background-color: #f7f7f7">
<div id="app">
    <div class="container mt-5">
        <el-container>
            <el-header>
                <div>
                    <el-button type="info" @click="myreturn()">返回</el-button>
                </div>
                <h3 class="text-center">{{activity.name}}</h3>

            </el-header>
            <el-main>
                <div align="center">
                    <el-button type="info" v-show="isjoin==0">请先加入社团</el-button>
                    <el-button type="success" v-show="isjoin==1" @click="addActivity()">参加活动</el-button>
                    <el-button type="warning" v-show="isjoin==2" @click="exitActivity()">退出活动</el-button>
                </div>
                <div>
                    <el-row>
                        <el-col :span="20"><h2>活动详情：</h2></el-col>
                    </el-row>
                    {{activity.introduction}}
                </div>
                <div align="center">

                    <template>
                        <el-carousel :interval="4000" type="card" height="500px">
                            <el-carousel-item v-for="item in imgList" :key="item.path">
                                <h3 class="medium">
                                    <img :src="item.path" height="100%" width="100%"/>
                                </h3>
                            </el-carousel-item>
                        </el-carousel>
                    </template>

                </div>

                <el-divider></el-divider>

                <el-col :span="24">
                    <el-card class="box-card2">
                        <div slot="header" class="clearfix">
                            <el-col :span="10">
                                <strong>报名学生</strong>
                            </el-col>
                            <el-col :span="10">
                                <el-input v-model="studentKeyWord" placeholder="请输入内容"></el-input>
                            </el-col>
                            <el-col :span="4">
                                <el-button type="primary" icon="el-icon-search" @click="getActivityStudent()"
                                           class="w-100">搜索
                                </el-button>
                            </el-col>
                        </div>
                        <div>
                            <template>
                                <el-table
                                        :data="studentList"
                                >
                                    <el-table-column
                                            type="index"
                                            width="150">
                                    </el-table-column>
                                    <el-table-column
                                            prop="name"
                                            label="姓名"
                                            width="200">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作">
                                        <template slot-scope="scope">
                                            <el-button type="primary" size="mini"
                                                       @click="jumpStudent(scope.row.studentId)">
                                                查看
                                            </el-button>
                                        </template>
                                    </el-table-column>

                                </el-table>
                            </template>
                        </div>
                        <div class="container my-5" align="center">
                            <template>
                                <div class="block">
                                    <el-pagination
                                            @current-change="changeStudentPage"
                                            :page-size="pageSize"
                                            layout="total, prev, pager, next"
                                            :total="studentTotal">
                                    </el-pagination>
                                </div>
                            </template>
                        </div>

                    </el-card>
                </el-col>

                </el-row>

                <br><br>

                <el-row>
                    <div align="center">
                        <h2>发表评论</h2>
                        <el-input
                                type="textarea"
                                :rows="5"
                                placeholder="请输入内容"
                                v-model="myMessage.message">
                        </el-input>
                        <el-button type="primary" @click="addMessage()">发布</el-button>
                    </div>
                </el-row>
                <br><br>
                <el-row>
                    <template>
                        <el-table
                                :data="messageList"
                                style="width: 100%">
                            <el-table-column
                                    type="index"
                                    width="100">
                            </el-table-column>
                            <el-table-column
                                    prop="message"
                                    label="内容"
                                    width="1000">
                            </el-table-column>
                            <el-table-column
                                    prop="studentName"
                                    label="留言人">
                            </el-table-column>
                        </el-table>
                    </template>
                    <div class="container my-5" align="center">
                        <template>
                            <div class="block">
                                <el-pagination
                                        @current-change="changeMessagePage"
                                        :page-size="pageSize"
                                        layout="total, prev, pager, next"
                                        :total="messageTotal">
                                </el-pagination>
                            </div>
                        </template>
                    </div>
                </el-row>


            </el-main>
        </el-container>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            imgList: [],
            activity: {},
            studentCurrentPage: 1,
            studentTotal: 0,
            studentKeyWord: "",
            isjoin: 0,
            pageSize: 5,
            studentList: [],
            clubId: 0,
            activityId: 0,

            myMessage: {},
            messageList: [],
            messageCurrentPage: 1,
            messageTotal: 0,
        },
        mounted() {

            let search = window.location.search
            search = search.substr(1)
            let params = search.split("=")
            let id = params[1]
            this.activityId = id;
            axios.get("/activity/" + this.activityId).then((res) => {
                this.activity = res.data;
            })

            this.getActivityStudent();
            this.isJoin();
            this.getMessage();
            this.getActivityImg();
            this.myMessage.activityId = this.activityId;

        },
        methods: {
            getActivityImg() {
                axios.get("/activityImg/" + this.activityId).then((res) => {
                    this.imgList = res.data;
                })
            },
            changeMessagePage(currentPage){
                this.messageCurrentPage = currentPage;
                this.getMessage();
            },
            addMessage(){

                axios.post("/activityMessage/add" ,this.myMessage).then((res) => {
                    this.getMessage();
                })
            },
            getMessage(){
                axios.get("/activityMessage/" + this.activityId + "/" + this.messageCurrentPage + "/" + this.pageSize).then((res) => {
                    this.messageList = res.data.data;
                    this.messageTotal = res.data.totalCount;
                })
            },
            myreturn() {
                window.history.back(-1);
            },
            getActivityStudent() {
                if (this.studentKeyWord === "") {
                    axios.get("/join/" + this.activityId + "/" + this.studentCurrentPage + "/" + this.pageSize).then((res) => {
                        this.studentList = res.data.data;
                        this.studentTotal = res.data.totalCount;
                    })
                } else {
                    axios.get("/join/search/" + this.activityId + "/" + this.studentKeyWord + "/" + this.studentCurrentPage + "/" + this.pageSize).then((res) => {
                        this.studentList = res.data.data;
                        this.studentTotal = res.data.totalCount;
                    })

                }
            },

            isJoin() {
                axios.get("/join/isJoin" + "/" + this.activityId).then((res) => {
                    this.isjoin = res.data;
                })

            },
            changeStudentPage(currentPage) {
                this.studentCurrentPage = currentPage;
                this.getActivityStudent();
            },

            addActivity() {
                axios.get("/join/add/" + this.activityId).then((res) => {
                    this.$message({
                        showClose: true,
                        message: '操作成功',
                        type: 'success'
                    })
                    setTimeout("location.reload()", 1000)

                })

            },
            exitActivity() {
                axios.get("/join/delete/" + this.activityId).then((res) => {
                    this.$message({
                        showClose: true,
                        message: '操作成功',
                        type: 'success'
                    })
                    setTimeout("location.reload()", 1000)
                })
            },
            jumpStudent(id) {
                location.href = "/student.html?id=" + id;
            }
        }
    })
</script>
</html>