<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>管理活动</title>
</head>
<body style="background-color: #f7f7f7">
<div id="app">
    <el-container>
        <el-header>
            <div>
                <el-button type="info"  @click="myreturn()">返回</el-button>
            </div>
            <div align="center">
                <h2>管理活动</h2>
            </div>


        </el-header>
        <el-main>
            <div align="center">
                <h2>社团名称：{{activity.name}}</h2>
            </div>

            <div class="container w-50">
                活动时间：<el-input v-model="activity.date" placeholder="请输入内容"></el-input><br>
                活动介绍：<el-input
                    type="textarea"
                    :rows="5"
                    v-model="activity.introduction" placeholder="请输入内容"></el-input><br>


            </div>
            <div align="center">

            </div>
        </el-main>

        <div class="container text-center mt-5 w-50">
            <el-button type="primary" class="w-25" @click="updateActivity()">修改活动</el-button>
        </div>

        <div align="center">
            <h3>上传图片</h3>

            <el-upload
                    class="upload-demo"
                    ref="cover"
                    drag
                    :action="action"
                    name="file"
                    :limit="1"
                    list-type="picture"
                    :on-change="onCoverChange">
                <i class="el-icon-upload"></i>
                <div class="el-upload__text fw-bold">请上传图片</div>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__text">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
        </div>


        <div align="center">
            <template>
                <el-table
                        :data="imgList"
                        style="width: 50%">
                    <el-table-column
                            type="index"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            label="图片"
                            width="300">
                        <template slot-scope="scope">
                            <img :src="scope.row.path" style="width: 250px;height: 250px"/>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="操作">
                        <template slot-scope="scope">
                            <el-button type="success" size="mini" @click="deleImg(scope.row.id)">
                                删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>

        </div>



        </el-main>
    </el-container>


</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            detailsList:[],
            activity:{},
            activityId:0,
            clubId:0,

            imageUrl:"",
            cover:[],
            imgList:[],

            action:"/activityImg/add/",
        },
        mounted() {
            let search = window.location.search
            search = search.substr(1)
            let params = search.split("=")
            let id = params[1]
            this.activity.id = id;
            this.activityId = id;
            this.isLeader();
            this.getinfro();

            this.getImgList();
            this.action +=this.activityId;

        },
        methods: {
            deleImg(id){
                axios.get("/activityImg/delete/" + id).then((res) => {
                    this.$message({
                        showClose: true,
                        message: '操作成功',
                        type: 'success'
                    })
                    setTimeout("location.reload()",1000)
                })
            },

            getImgList(){
                axios.get("/activityImg/" + this.activityId).then((res) => {
                    this.imgList = res.data;
                })
            },

            onCoverChange(file,fileList){
                this.cover=fileList;
                location.reload();
            },
            isLeader(){
                axios.get("/leader/isLeaderA/"+this.activityId).then((res)=>{
                    if(res.data===0) location.href="/main.html"
                })

            },
            myreturn(){
                window.history.back(-1);
            },
            getinfro(){
                axios.get("/activity/"+this.activityId).then((res)=>{
                    this.activity = res.data;
                })
            },

            updateActivity() {
                let flag = true

                if (!this.activity.date) {
                    flag = false
                    this.$message({
                        showClose: true,
                        message: '未填写活动时间',
                        type: 'error'
                    })
                    return
                }
                if (!this.activity.introduction) {
                    flag = false
                    this.$message({
                        showClose: true,
                        message: '未填写活动介绍',
                        type: 'error'
                    })
                    return
                }

                if(flag){
                    axios.post("/activity/update",this.activity).then((res)=>{
                        this.$message({
                            showClose: true,
                            message: '操作成功',
                            type: 'success'
                        })
                        setTimeout("location.reload()",1000)

                    })
                }
            },
        }
    })
</script>
</html>