<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>查看社团</title>
    <style>
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 200px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }

        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }


        .box-card2 {
            width: 600px;
            height: 500px;
            margin-top: 10px;
        }

        .btn {
            float: right;
            margin-right: 5px;
        }
    </style>
</head>
<body style="background-color: #f7f7f7">
<div id="app">
    <div class="container mt-5">
        <el-container>
            <el-header>
                <div>
                    <el-button type="info"  @click="myreturn()">返回</el-button>
                </div>
                <h3 class="text-center">{{club.clubName}}</h3>
            </el-header>
            <el-main>
                <div align="center">
                    <el-button type="success" v-if="isbelong==0" @click="addClub()">加入社团</el-button>
                    <el-button type="warning" v-if="isbelong==1" @click="exitClub()">退出社团</el-button>
                    <el-button type="info" v-if="isbelong==2" >审核中</el-button>
                </div>
                <div>
                    <el-row>
                        <el-col :span="20"><h2>社团介绍：</h2></el-col>
                    </el-row>
                    {{club.introduction}}
                </div>

                <div align="center">
                    <img src="/img/club.png" style=" height:500px;width:800px"/>
                </div>


                <el-divider></el-divider>

                <el-col :span="12">
                    <el-card class="box-card2">
                        <div slot="header" class="clearfix">
                            <el-col :span="10">
                                <strong>全部活动</strong>
                            </el-col>
                            <el-col :span="10">
                                <el-input v-model="activityKeyWord" placeholder="请输入内容"></el-input>
                            </el-col>
                            <el-col :span="4">
                                <el-button type="primary" icon="el-icon-search" @click="getClubActivity()"
                                           class="w-100">搜索
                                </el-button>
                            </el-col>
                        </div>
                        <div>
                            <template>
                                <el-table
                                        :data="activityList"
                                >
                                    <el-table-column
                                            type="index"
                                            width="100">
                                    </el-table-column>
                                    <el-table-column
                                            prop="name"
                                            label="活动名"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="date"
                                            label="时间"
                                            width="135">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作">
                                        <template slot-scope="scope">
                                            <el-button type="primary" size="mini" @click="jumpActivity(scope.row.id)">
                                                查看
                                            </el-button>
                                        </template>
                                    </el-table-column>

                                </el-table>
                            </template>
                        </div>
                        <div class="container my-5" align="center">
                            <template>
                                <div class="block">
                                    <el-pagination
                                            @current-change="changeActivityPage"
                                            :page-size="pageSize"
                                            layout="total, prev, pager, next"
                                            :total="activityTotal">
                                    </el-pagination>
                                </div>
                            </template>
                        </div>

                    </el-card>
                </el-col>


                <el-col :span="12">
                    <el-card class="box-card2">
                        <div slot="header" class="clearfix">
                            <el-col :span="10">
                                <strong>社团成员</strong>
                            </el-col>
                            <el-col :span="10">
                                <el-input v-model="studentKeyWord" placeholder="请输入内容"></el-input>
                            </el-col>
                            <el-col :span="4">
                                <el-button type="primary" icon="el-icon-search" @click="getClubStudent()"
                                           class="w-100">搜索
                                </el-button>
                            </el-col>
                        </div>
                        <div>
                            <template>
                                <el-table
                                        :data="studentList">
                                    <el-table-column
                                            type="index"
                                            width="100">
                                    </el-table-column>
                                    <el-table-column
                                            prop="name"
                                            label="姓名"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作">
                                        <template slot-scope="scope">
                                            <el-button type="primary" size="mini" @click="jumpStudent(scope.row.studentId)">
                                                查看
                                            </el-button>
                                        </template>
                                    </el-table-column>

                                </el-table>
                            </template>
                        </div>
                        <div class="container my-5" align="center">
                            <template>
                                <div class="block">
                                    <el-pagination
                                            @current-change="changeStudentPage"
                                            :page-size="pageSize"
                                            layout="total, prev, pager, next"
                                            :total="studentTotal">
                                    </el-pagination>
                                </div>
                            </template>
                        </div>

                    </el-card>
                </el-col>
                </el-row>

            </el-main>
        </el-container>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            imgList: [],
            introduction: "",
            club: {},
            clubId: "",
            activityList: [],
            studentList: [],
            activityCurrentPage: 1,
            activityTotal: 0,
            activityKeyWord: "",
            pageSize: 5,
            studentCurrentPage: 1,
            studentTotal: 0,
            studentKeyWord: "",
            isbelong: 0,


        },
        created() {
            let search = window.location.search
            search = search.substr(1)
            let params = search.split("=")
            let id = params[1]
            this.clubId = id;
            axios.get("/club/" + this.clubId).then((res) => {
                this.club = res.data
            })
            this.getClubActivity();
            this.getClubStudent();
            this.isBelong();
            this.getClubImg();


        },
        methods: {
            myreturn(){
                window.history.back(-1);
            },
            isBelong() {
                axios.get("/belong/isBelong/" + this.clubId).then((res) => {
                    this.isbelong = res.data;
                    console.log(this.isbelong)
                })
            },
            getClubActivity() {
                if (this.activityKeyWord === "") {
                    axios.get("/activity/club/" + this.clubId + "/" + this.activityCurrentPage + "/" + this.pageSize).then((res) => {
                        this.activityList = res.data.data;
                        this.activityTotal = res.data.totalCount;
                    })
                } else {
                    axios.get("/activity/clubSearch/" + this.clubId + "/" + this.activityKeyWord + "/" + this.activityCurrentPage + "/" + this.pageSize).then((res) => {
                        this.activityList = res.data.data;
                        this.activityTotal = res.data.totalCount;
                    })
                }
            },
            changeActivityPage(currentPage) {
                this.activityCurrentPage = currentPage;
                this.getClubActivity();
            },

            getClubStudent() {
                if (this.studentKeyWord === "") {
                    axios.get("/belong/club/" + this.clubId + "/" + this.studentCurrentPage + "/" + this.pageSize).then((res) => {
                        this.studentList = res.data.data;
                        this.studentTotal = res.data.totalCount;
                    })
                } else {
                    axios.get("/belong/searchClub/" + this.clubId + "/" + this.studentKeyWord + "/" + this.studentCurrentPage + "/" + this.pageSize).then((res) => {
                        this.studentList = res.data.data;
                        this.studentTotal = res.data.totalCount;
                    })
                }
            },
            changeStudentPage(currentPage) {
                this.studentCurrentPage = currentPage;
                this.getClubStudent();
            },
            addClub(){
                axios.get("/belong/add/" + this.clubId).then((res) => {
                    this.$message({
                        showClose: true,
                        message: '操作成功',
                        type: 'success'
                    })
                    setTimeout("location.reload()",1000)

                })

            },
            exitClub(){
                axios.get("/belong/delete/" + this.clubId).then((res) => {
                    this.$message({
                        showClose: true,
                        message: '操作成功',
                        type: 'success'
                    })
                    setTimeout("location.reload()",1000)
                })
            },
            getClubImg(){
                axios.get("/clubImg/" + this.clubId).then((res) => {
                    this.imgList = res.data;
                })
            },
            jumpStudent(id){
                location.href="/student.html?id="+id;
            },
            jumpActivity(id){
                location.href="/activity.html?id="+id;
            },


        }
    })
</script>
</html>