<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>学生主页</title>
</head>
<body style="background-color: #f7f7f7">
<div id="app">
    <el-container>
        <el-header>
            <div>
                <el-button type="info"  @click="myreturn()">返回</el-button>
            </div>
            <div align="center">
                <h2>创建社团</h2>
            </div>


        </el-header>
        <el-main>
            <div class="container w-50">
                社团名称：<el-input v-model="club.clubName" placeholder="请输入内容"></el-input><br>
                社团介绍：<el-input
                    type="textarea"
                    :rows="5"
                    v-model="club.introduction" placeholder="请输入内容"></el-input><br>


            </div>
            <div align="center">

            </div>
        </el-main>

        <div class="container text-center mt-5 w-50">
            <el-button type="primary" class="w-25" @click="addClub()">创建社团</el-button>
        </div>
        </el-main>
    </el-container>


</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            imgList:[],
            detailsList:[],
            club:{},
        },
        mounted() {

        },
        methods: {
            myreturn(){
                window.history.back(-1);
            },
            onDetailsChange(file,fileList){
                this.detailsList=fileList
            },
            addClub() {
                let flag = true
                if (!this.club.clubName) {
                    flag = false
                    this.$message({
                        showClose: true,
                        message: '未填写社团名称',
                        type: 'error'
                    })
                    return
                }
                if (!this.club.introduction) {
                    flag = false
                    this.$message({
                        showClose: true,
                        message: '未填写社团介绍',
                        type: 'error'
                    })
                    return
                }

                if(flag){
                    axios.post("/club/add",this.club).then((res)=>{
                        this.$message({
                            showClose: true,
                            message: '操作成功',
                            type: 'success'
                        })
                        setTimeout("location.reload()",1000)

                    })
                }
            },
        }
    })
</script>
</html>