<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>学生主页</title>
    <style>
        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }

        .box-card {
            width: 640px;
            height: 450px;
            margin-left: 50px;
            margin-top: 50px;
        }

        .box-card2 {
            width: 640px;
            height: 500px;
            margin-left: 50px;
            margin-top: 10px;
        }
        .btn{
            float: right;
            margin-right: 5px;
        }
    </style>
</head>
<body style="background-color: #f7f7f7">
<div id="app">
    <el-container>
        <el-header>
            <div style="background: #25cff2">
                <br>
                <h1>
                    大学生社团管理系统

                    <el-button type="info" class="btn">个人信息</el-button>
                    <el-button type="success" class="btn">社团管理</el-button>
                </h1>
                <br>
            </div>
        </el-header>
        <el-main>
            <div style="background: whitesmoke">
                <el-row>
                    <el-col :span="12">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <el-col :span="10">
                                    <strong>我参加的社团</strong>
                                </el-col>
                                <el-col :span="10">
                                    <el-input v-model="myClubKeyWord" placeholder="请输入内容"></el-input>
                                </el-col>
                                <el-col :span="4">
                                    <el-button type="primary" icon="el-icon-search" @click="getMyClub()" class="w-100">搜索</el-button>
                                </el-col>
                            </div>
                            <div>
                                <template>
                                    <el-table
                                            :data="myClubList">
                                        <el-table-column
                                                type="index"
                                                width="100">
                                        </el-table-column>
                                        <el-table-column
                                                prop="clubName"
                                                label="社团名"
                                                width="180">
                                        </el-table-column>
                                        <el-table-column
                                                prop="num"
                                                label="人数"
                                                width="180">
                                        </el-table-column>
                                        <el-table-column
                                                label="操作">
                                            <template slot-scope="scope">
                                                <el-button type="primary" size="mini" @click="jumpClub(scope.row.id)">查看</el-button>
                                            </template>
                                        </el-table-column>

                                    </el-table>
                                </template>
                            </div>
                            <div class="container my-5" align="center">
                                <template>
                                    <div class="block">
                                        <el-pagination
                                                @current-change="changeMyClubPage"
                                                :page-size="myPageSize"
                                                layout="total, prev, pager, next"
                                                :total="myClubTotal">
                                        </el-pagination>
                                    </div>
                                </template>
                            </div>

                        </el-card>
                    </el-col>

                    <el-col :span="12">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <el-col :span="10">
                                    <strong>我参加的活动</strong>
                                </el-col>
                                <el-col :span="10">
                                    <el-input v-model="myActivityKeyWord" placeholder="请输入内容"></el-input>
                                </el-col>
                                <el-col :span="4">
                                    <el-button type="primary" icon="el-icon-search" @click="getMyActivity()" class="w-100">搜索</el-button>
                                </el-col>
                            </div>
                            <div>
                                <template>
                                    <el-table
                                            :data="myActivityList">
                                        <el-table-column
                                                type="index"
                                                width="100">
                                        </el-table-column>
                                        <el-table-column
                                                prop="activityName"
                                                label="活动名"
                                                width="120">
                                        </el-table-column>
                                        <el-table-column
                                                prop="clubName"
                                                label="社团名"
                                                width="120">
                                        </el-table-column>
                                        <el-table-column
                                                prop="date"
                                                label="时间"
                                                width="150">
                                        </el-table-column>
                                        <el-table-column
                                                label="操作">
                                            <template slot-scope="scope">
                                                <el-button type="primary" size="mini" @click="jumpActivity(scope.row.id)">查看</el-button>
                                            </template>
                                        </el-table-column>

                                    </el-table>
                                </template>
                            </div>
                            <div class="container my-5" align="center">
                                <template>
                                    <div class="block">
                                        <el-pagination
                                                @current-change="changeMyActivityPage"
                                                :page-size="myPageSize"
                                                layout="total, prev, pager, next"
                                                :total="myActivityTotal">
                                        </el-pagination>
                                    </div>
                                </template>
                            </div>

                        </el-card>
                    </el-col>
                </el-row>
                <el-divider></el-divider>
                <el-row>
                    <el-col :span="12">
                        <el-card class="box-card2">
                            <div slot="header" class="clearfix">
                                <el-col :span="10">
                                    <strong>全部社团</strong>
                                </el-col>
                                <el-col :span="10">
                                    <el-input v-model="allClubKeyWord" placeholder="请输入内容"></el-input>
                                </el-col>
                                <el-col :span="4">
                                    <el-button type="primary" icon="el-icon-search" @click="getAllClub()" class="w-100">搜索</el-button>
                                </el-col>
                            </div>
                            <div>
                            <template>
                                <el-table
                                        :data="allClubList"
                                        >
                                    <el-table-column
                                            type="index"
                                            width="100">
                                    </el-table-column>
                                    <el-table-column
                                            prop="clubName"
                                            label="社团名"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="num"
                                            label="人数"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作">
                                        <template slot-scope="scope">
                                            <el-button type="primary" size="mini" @click="jumpClub(scope.row.id)">查看</el-button>
                                        </template>
                                    </el-table-column>

                                </el-table>
                            </template>
                            </div>
                            <div class="container my-5" align="center">
                                <template>
                                    <div class="block">
                                        <el-pagination
                                                @current-change="changeAllClubPage"
                                                :page-size="allPageSize"
                                                layout="total, prev, pager, next"
                                                :total="allClubTotal">
                                        </el-pagination>
                                    </div>
                                </template>
                            </div>
                        </el-card>
                    </el-col>

                    <el-col :span="12">
                        <el-card class="box-card2">
                            <div slot="header" class="clearfix">
                                <el-col :span="10">
                                    <strong>全部活动</strong>
                                </el-col>
                                <el-col :span="10">
                                    <el-input v-model="allActivityKeyWord" placeholder="请输入内容"></el-input>
                                </el-col>
                                <el-col :span="4">
                                    <el-button type="primary" icon="el-icon-search" @click="getAllActivity()" class="w-100">搜索</el-button>
                                </el-col>
                            </div>
                            <div>
                                <template>
                                    <el-table
                                            :data="allActivityList"
                                    >
                                        <el-table-column
                                                type="index"
                                                width="100">
                                        </el-table-column>
                                        <el-table-column
                                                prop="activityName"
                                                label="活动名"
                                                width="120">
                                        </el-table-column>
                                        <el-table-column
                                                prop="clubName"
                                                label="社团名"
                                                width="120">
                                        </el-table-column>
                                        <el-table-column
                                                prop="date"
                                                label="时间"
                                                width="150">
                                        </el-table-column>
                                        <el-table-column
                                                label="操作">
                                            <template slot-scope="scope">
                                                <el-button type="primary" size="mini" @click="jumpActivity(scope.row.id)">查看</el-button>
                                            </template>
                                        </el-table-column>

                                    </el-table>
                                </template>
                            </div>
                            <div class="container my-5" align="center">
                                <template>
                                    <div class="block">
                                        <el-pagination
                                                @current-change="changeAllActivityPage"
                                                :page-size="allPageSize"
                                                layout="total, prev, pager, next"
                                                :total="allActivityTotal">
                                        </el-pagination>
                                    </div>
                                </template>
                            </div>

                        </el-card>
                    </el-col>
                </el-row>
            </div>
        </el-main>
        <el-footer>
            <div align="center">
                <h3>想有自己的社团？</h3>
                <el-button type="primary">创建社团</el-button>
            </div>
            <br><br>
        </el-footer>
    </el-container>


</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            allClubList:[],
            allActivityList:[],
            myClubList:[],
            myActivityList:[],

            allPageSize:5,
            myPageSize:4,


            allClubCurrentPage:1,
            allClubTotal:0,
            allClubKeyWord:"",

            myClubCurrentPage:1,
            myClubTotal:0,
            myClubKeyWord:"",

            myActivityCurrentPage:1,
            myActivityTotal:0,
            myActivityKeyWord:"",

            allActivityCurrentPage:1,
            allActivityTotal:0,
            allActivityKeyWord:"",




        },
        mounted() {
            this.getAllClub();
            this.getMyClub();
            this.getMyActivity();
            this.getAllActivity();

        },
        methods: {
            getAllClub() {
                if (this.allClubKeyWord=== "") {
                    axios.post("/club/all/" + this.allClubCurrentPage + "/" + this.allPageSize).then((res) => {
                        this.allClubTotal = res.data.totalCount;
                        this.allClubList = res.data.data;
                    })
                }else{
                    axios.post("/club/search/"+ this.allClubKeyWord + "/" + this.allClubCurrentPage + "/" + this.allPageSize).then((res) => {
                        this.allClubTotal = res.data.totalCount;
                        this.allClubList = res.data.data;

                    })

                }
            },
            changeAllClubPage(currentPage) {
                this.allClubCurrentPage = currentPage;
                this.getAllClub();
            },
            jumpClub(id){

            },

            getMyClub() {
                if (this.myClubKeyWord=== "") {
                    axios.post("/belong/student/" + this.myClubCurrentPage + "/" + this.myPageSize).then((res) => {
                        this.myClubTotal = res.data.totalCount;
                        this.myClubList = res.data.data;
                    })
                }else{
                    axios.post("/belong/searchStudent/"+ this.myClubKeyWord + "/" + this.myClubCurrentPage + "/" + this.myPageSize).then((res) => {
                        this.myClubTotal = res.data.totalCount;
                        this.myClubList = res.data.data;

                    })

                }
            },
            changeMyClubPage(currentPage) {
                this.myClubCurrentPage = currentPage;
                this.getMyClub();
            },



            getMyActivity() {
                if (this.myActivityKeyWord=== "") {
                    axios.post("/join/student/" + this.myActivityCurrentPage + "/" + this.myPageSize).then((res) => {
                        this.myActivityTotal = res.data.totalCount;
                        this.myActivityList = res.data.data;
                    })
                }else{
                    axios.post("/join/searchStudent/"+ this.myActivityKeyWord + "/" + this.myActivityCurrentPage + "/" + this.myPageSize).then((res) => {
                        this.myActivityTotal = res.data.totalCount;
                        this.myActivityList = res.data.data;

                    })

                }
            },
            changeMyActivityPage(currentPage) {
                this.myActivityCurrentPage = currentPage;
                this.getMyActivity();
            },



            getAllActivity() {
                if (this.allActivityKeyWord=== "") {
                    axios.post("/activity/all/" + this.allActivityCurrentPage + "/" + this.allPageSize).then((res) => {
                        this.allActivityTotal = res.data.totalCount;
                        this.allActivityList = res.data.data;
                    })
                }else{
                    axios.post("/activity/search/"+ this.allActivityKeyWord + "/" + this.allActivityCurrentPage + "/" + this.allPageSize).then((res) => {
                        this.allActivityTotal = res.data.totalCount;
                        this.allActivityList = res.data.data;

                    })

                }
            },
            changeAllActivityPage(currentPage) {
                this.allActivityCurrentPage = currentPage;
                this.getAllActivity();
            },

            jumpActivity(id){

            },



        },
    })
</script>
</html>